<a href="https://colab.research.google.com/github/JasonSCFu/Python-basics/blob/main/An_illustration_for_Python_functions_map%2Creduce%2Cfilter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This notebook is to summarize the usage of map, reduce, filter, lambda ect.
Source:https://blog.konghy.cn/2016/02/02/python-usage/

In [15]:
# map(function, sequence), map function is doing something like[ function(x) for x in sequence ]
def add100(x):
  return x + 100

hh = [11,22,33]

list(map(add100, hh))

[111, 122, 133]

In [16]:
def abc(a, b, c):
  return a*10000 + b*100 + c

list1 = [11,22,33]
list2 = [44,55,66]
list3 = [77,88,99]

list(map(abc,list1,list2,list3))

[114477, 225588, 336699]

In [22]:
#filter(function, sequence)

def foo(x):
  return x % 2 != 0

def hoo(x):
  if x > 5 and x < 10:
    return x

l = range(1, 10)
print(list(filter(foo, l)))

print(list(filter(hoo, l)))

[1, 3, 5, 7, 9]
[6, 7, 8, 9]

In [25]:
# lambda

foo = lambda x: x**2

foo(2)

4

In [26]:
# list comprehension, [x for item in sequence ]

[x ** 2 for x in range(1, 10) if x % 2 == 1 ]

[1, 9, 25, 49, 81]

In [30]:
# generator, similar to list comprehension, but save memory,
# refer to https://wiki.python.org/moin/Generators

item = ( x ** 2 for x in range(10) if x % 2 )
item
for i in item:
  print(i)

# it is equivalent to below

list( x ** 2 for x in range(10) if x % 2 )

1
9
25
49
81

[1, 9, 25, 49, 81]