#  Python Reference Codes

Examples based on Titanic dataset (from Seaborn)

### Table of Contents
(1) [Importing / Exporting Data](#part1)   
(2) [Data Exploration](#part2)  
(3) [Data Manipulation / Transformation](#part3)  
(4) [Visualization](#part4)  
(5) [Data Analysis and Statistics](#part5)  
(6) [Miscellaneous](#part6)

First importing all the necessary libraries and dataset <b>df</b>

In [ ]:
import seaborn
seaborn.get_dataset_names()
df = seaborn.load_dataset('titanic')

# Importing necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
import math

# Expanding screen
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

<a name="part1"></a>
### (1) Importing / Exporting Data

In [ ]:
# Reading CSV and specifying index_col to set which column to be the index column
df = pd.read_csv('datasets/data-titanic.csv')
df = pd.read_csv('datasets/data-titanic.csv', index_col="age")
df = pd.read_excel('datasets/data-titanic.xlsx')

# Exporting dataset
df.to_csv('datasets/data-titanic.csv')
df.to_excel('datasets/data-titanic.xlsx', index=False)

<a name="part2"></a>
### (2) Data Exploration

In [ ]:
# Retrieve column (3 different ways to do it)
df["age"]
df.loc[:,"age"]
df.iloc[:,3]

In [ ]:
# Describe dataset (numeric columns) and Printing without limit/display constraints
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(df.describe())

In [ ]:
# Sum of all values of each column
print(df.sum())

In [ ]:
# Print column names
print(df.columns)

In [ ]:
# General info of dataset
print(df.info())

In [ ]:
print(df.shape)

In [ ]:
# Mean of all values of each numeric column
print(df.mean())

In [ ]:
# Describe summary stats for only certain columns
print(df[['age','fare','pclass']].describe())  
# Note double square brackets to create dataframe

In [ ]:
# Print summary stats but exclude data column of certain dtype e.g. object type
print(df.describe(exclude = ["object"]))

In [ ]:
# Print datatypes
columns = ['age', 'who', 'pclass']
print(df[columns].dtypes)

In [ ]:
# Find datatype of each column (Creating a new column called Data Type)
data_types = pd.DataFrame(df.dtypes, columns=['Data Type'])

In [ ]:
# Changing data type of column
# Changing object to category dtype helps reduce memory usage
df.who = df.who.astype('category')

df.pclass = df.who.astype('float')

df.age = pd.to_numeric(df.age,errors = 'coerce')
# Using coerce, the column values will be converted to numbers while 
# the non-numerics invalid values (such as -) will be converted to NaN. 
# If we do not input the coerce argument, Python will return an error as
# it does not know how to turn the string (such as -) into a numeric value

In [ ]:
# Converting values into ordered categories (i.e with ranking)
df.pclass = pd.Categorical(df.pclass,categories=[3,2,1], ordered = True) # Ascending order
df.pclass

In [ ]:
# Converting string to numeric
df['fare'] = pd.to_numeric(df['fare'])

In [ ]:
# Frequency counts
df.embarked.value_counts(dropna=False)

In [ ]:
# Generating frequency table with crosstabs
freq_table = pd.crosstab(df.sex, df.pclass)
freq_table

In [ ]:
# Return unique value counts with counting of occurences
print(df.who.value_counts())

In [ ]:
# Get proportion based on unique counts using normalize = True
print(df.who.value_counts(normalize=True))

In [ ]:
# Check which columns have any null observation at all
print(df.isnull().any())

In [ ]:
# Count number of missing null observations by column
print(df.isnull().sum())
missing_data_counts = pd.DataFrame(df.isnull().sum(), columns=['Missing Values'])

In [ ]:
# Count number of present observations by column
present_data_counts = pd.DataFrame(df.count(), columns=['Present Values'])
print(present_data_counts)

In [ ]:
# Count number of unique observations for every column
unique_value_counts = pd.DataFrame(columns=['Unique Values'])
for v in list(df.columns.values):   # This means for every column in the list of columns
    unique_value_counts.loc[v] = [df[v].nunique()]

In [ ]:
# List of unique values
print(df.who.unique()) # List of unique values

In [ ]:
# Number of unique values
print(df.who.nunique())

In [ ]:
# Output a dataframe based on unique last strings in a column
def get_unique_last_str(df):
    df = df[df.index.isin(df['embark_town'].drop_duplicates(keep='last').index)].reset_index(drop=True)
    return df

print(get_unique_last_str(df))

In [ ]:
# Find minimum value for each column
minimum_values = pd.DataFrame(columns=['Minimum Values'])
for v in list(df.columns.values):
    minimum_values.loc[v] = [df[v].min()]

In [ ]:
# Find maximum value for each column
maximum_values = pd.DataFrame(columns=['Maximum Values'])
for v in list(df.columns.values):
    maximum_values.loc[v] = [df[v].max()]

In [ ]:
# Find the 5 rows with lowest values (Different from using tail())
print(df.nsmallest(5, "age"))

In [ ]:
# Evaluates column value (boolean True/False) based on isin list
print(df.age.isin([2,3,22,38])) # Rows with ages stated in the list
print(df[df.age.isin([2,3,22,38])])  # Rows with True for the age

In [ ]:
# Calculating mean based on BOOLEAN values (to get a proportion of Trues)
print(df.adult_male.mean())  # Gets proportion of adults who are male

In [ ]:
# Checking for correlation
print(np.corrcoef(df.age.values, df.fare.values))

In [ ]:
# Groupby methods
print(df.groupby(['who']).age.mean())
print(df.groupby(['who']).age.max())
print(df.groupby(['who']).deck.count())

In [ ]:
# Grouping one column with means
df_gender = df.groupby(['sex'])['age', 'fare'].mean()

In [ ]:
# Grouping multiple columns with means
columns = ['age', 'fare']
df_gender = df.groupby(["sex"])[columns].mean()

df_pclass = df.groupby(['pclass'])['age', 'fare'].mean()

In [ ]:
# Getting groups (with get_group) after using groupby
df_gender = df.groupby(['sex'])
df_gender.get_group('male')

In [ ]:
# Selecting single value (based on loc and/or max)
df.loc[3,'age'].max()
df.loc[4,'fare']

In [ ]:
# Using assert to confirm hypothesis
assert df.who.dtypes == np.object # If no error msg, it means assertion is correct
assert df.age.dtypes == np.object # This returns assertion error ie. statement is false
# Object means that the values are stored as strings

In [ ]:
# Checking for null values with assert
assert pd.notnull(df.alone).all()

In [ ]:
# Cumulative counts and cumulative sums
df['running_sales_total'] = df.fare.cumsum()

In [ ]:
# Cumulative sum can also be used with groupby
df['running_sales_by_gender'] = df.groupby('sex').fare.cumsum()

In [ ]:
# Cumulative count
df['count_by_gender'] = df.groupby('sex').cumcount() + 1

In [ ]:
# Get discrete intervals with cut i.e. Convert continuous data into categorical
def get_discrete_intervals_from_values(df):
    df['age_class'] = pd.cut(df['age'], 
                          bins=[-1,18,40,65,999], 
                          labels=['young','adult','old','very old'])
    return df
df = get_discrete_intervals_from_values(df)

In [ ]:
# Simple version of cut
df['agecut'] = pd.cut(df.age, bins = [0,18,25,99])

In [ ]:
# Use of qcut to specify no. of bins (automatically creates quantiles of approximately equal 
# sample size)
df['agebins'] = pd.qcut(df.age, q=3)

<a name="part3"></a>
### (3) Data Manipulation and Transformation

In [ ]:
# Deleting elements from list
areas = [1.23,1.43,1.44,1.75,1.26]
del(areas[1])
del(areas[-4:-2])

# Delete by item value
areas.remove(1.23)
areas

In [ ]:
# Printing as column(s) as Series (single brackets) or DataFrame (double brackets)
print(df["pclass"])   # Series
print(df.loc[:]["age"])   # Series

In [ ]:
# Creating subset dataframe
print(df[["pclass"]])   # DataFrame
print(df.iloc[[1,6]])   # DataFrame

In [ ]:
# Can use loc only if index has labels
print(df.iloc[[23,35], [3,6]])

#### Filtering and Subsetting

In [ ]:
# Filtering and printing specific rows
print(df.iloc[0]) # First row
df.loc[df['age'] == df['age'].max()]  # Row with max value
df[df.age == 22].count()

In [ ]:
# Filtering based on multiple conditions
df2 = df[(df.age == 29.0) & (df.pclass == 1)]  # using AND operator
df2 = df[(df.age == 29.0) | (df.pclass == 1)]  # Using OR operator

In [ ]:
# Filtering based on a range/criteria of values using np.logical
df_age = df['age']
between = np.logical_and(df_age > 12, df_age < 31)  # or can use np.logical_or
medium = df_age[between]
print(medium)

In [ ]:
# Subsetting and Slicing columns
df_age_fare_survival = df[['age', 'fare', 'survived']]  #Subsetted dataframe by columns
df_survived_pclass_sex = df.loc[:,'survived':'sex']  # Alternative slicing by columns

In [ ]:
# Subsetting by rows based on index
df_index10to50 = df[10:51]  
df_index50to10 = df[51:10:-1]  # Reverse order

#### Managing null and missing values

In [ ]:
# Replace missing values with NaN
columns = df.columns.values
for column in columns:
    df.loc[df[column] == 'C', column] = np.nan  # Use C value as an example only

In [ ]:
# Replace NaN (null) values with zero
df['age'] = df.age.fillna(0).astype('int')

In [ ]:
# Replace NaN with some other value
df.age.isna().sum()  # Number of NaN originally
df['age'] = df['age'].fillna(df.age.mean())   # Imputing NaN with mean value

#### Dropping rows and columns

In [ ]:
# Dropping all rows with missing values in ANY column
df_dropped = df.dropna(axis = 0)
print(df_dropped.shape)      #Output 891 rows decreased to 182

In [ ]:
# Drop all rows with missing value in a SPECIFIC column
df_dropped = df[np.isfinite(df['age'])]

In [ ]:
# Dropping all rows with missing values across ALL columns
df_dropped = df.dropna(how='all')
print(df_dropped.shape)

df.dropna(subset=['age'], inplace=True)

In [ ]:
# Dropping columns and rows
df = df.drop('alive', axis=1) # Drop column i.e Axis 1
df = df.drop(3, axis=0) # Drop row i.e. Axis 0

In [ ]:
list_to_drop = ['age','pclass','survived','who']
df_dropped = df.drop(list_to_drop, axis='columns')

In [ ]:
# Dropping columns where there are less than 800 NON-missing values (Based on thresh argument)
df_dropped = df.dropna(thresh=800, axis='columns')

In [ ]:
# Dropping rows in a dataframe based on indexes of another dataframe (Axis = 0 means Row)
df_dropped = df.drop(df_duplicate.index.values, axis=0)

In [ ]:
# Dropping duplicates
df = df.drop_duplicates() # 891 rows down to 784

#### Replacing values

In [ ]:
# Imputation with sklearn
from sklearn.impute import SimpleImputer
imputer= SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(X[:,1:3])
X[:,1:3]=imputer.transform(X[:,1:3])

In [ ]:
# Converting all rows (Range 0 to full number of rows) of price column into single value
for i in range(0, len(df.index)):
    df.loc[i,'age'] = 30  # Change all age to 30

In [ ]:
# Changing only a single value (row index 3 of the age column)
df.loc[3,'age'] = 77

In [ ]:
# Performing summation ACROSS columns for all rows
df2 = df[['age','fare']]
print(df2.sum(axis = 1))  # Sums the numerical values across columns

In [ ]:
# Duplicate/copy dataframe
df2 = df.copy()

In [ ]:
# Creating a new column that codes a numerical value for each categorical value of a column
# This is done for every row in the df (indicated by for i in range(len(df)))
# For this to run, the index needs to be in running sequence without any number missing
for i in range(len(df)):
    if df.loc[i,'who'] == 'man':
        df.loc[i,'man'] = 1
    elif df.loc[i,'who'] == 'woman':
        df.loc[i,'woman'] = 1
    elif df.loc[i,'who'] == 'child':
        df.loc[i,'child'] = 1

In [ ]:
# Getting dummy table (one-hot encoding)
df = pd.get_dummies(df,columns = ['sex','alive'])

In [ ]:
# Recoding in single new column (instead of one-hot coding)
def recode_sex(sex):

    # Return 0 if gender is 'Female'
    if sex == 'female':
        return 0
    
    # Return 1 if gender is 'Male'    
    elif sex == 'male':
        return 1
    
    else:
        return np.nan
    
df.sex_recoded = df.sex.apply(recode_sex)

In [ ]:
# Replace values in dataframe (with use of lambda function)
df['sex'] = df.sex.apply(lambda x: x.replace('female', 'Female'))

In [ ]:
# Replace characters in a string
df = df.sex.str.replace('male','Male')

In [ ]:
# Creating new column and replacing values with the use of dictionary and mapping function
class_to_numeric = {'First':'1st', 'Second':'2nd', 'Third':'3rd'}
df['class_num'] = df['class'].map(class_to_numeric)

In [ ]:
# Using map on multiple columns with applymap
mapping = {1:'Yes',0:'No'}
cols = ['survived','parch']
df[cols] = df[cols].applymap(mapping.get)

In [ ]:
# Renaming all column names based on mapping
df = df.rename(columns = mapping)

In [ ]:
# Using apply
df["CLASS"] = df["class"].apply(str.upper)

#### Merging, Concatenating and Appending

In [ ]:
# Appending multiple datasets (of same shape)
df_duplicate = df.append(df).append(df)

In [ ]:
# Appending flat files in bulk (Alternative method to the above)
filenames = ['titanic.csv', 'titanic.csv', 'titanic.csv']

dataframes = []
for filename in filenames:
    dataframes.append(pd.read_csv(filename))

In [ ]:
# Concatenating dataframes row-wise (Similar to append)
df2 = pd.concat([df,df,df], axis = 0)

In [ ]:
# Concatenating dataframes COLUMN-wise
df2 = pd.concat([df,df,df], axis = 1)

In [ ]:
# Merging dataframes
df2 = pd.merge(left=df, right=df, on = 'age')

In [ ]:
# Merging on columns with non-matching labels
df2 = pd.merge(df, df, left_on = 'age', right_on = 'age')

In [ ]:
# Merging on multiple columns
df2 = pd.merge(df, df, on = ['age', 'sex', 'embarked'])

In [ ]:
# Left join
df_left = pd.merge(df, df, how = 'left', on = ['age'])

In [ ]:
# Merging and concatenating multiple files e.g. csv
import glob
import os
os.chdir("C:/Users/klty0/Desktop/airline delay and cancellation")
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]
#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
#export to csv
combined_csv.to_csv( "combined_csv.csv", index=False, encoding='utf-8-sig')
#encoding = ‘utf-8-sig’ is added to overcome the issue when exporting ‘Non-English’ languages.

#### Searching and Regex

In [ ]:
# Searching for a string using contains method
df_town = df[df.embark_town.str.contains('town',na=False)]

In [ ]:
# Use of regular expression (regex) to find pattern
pattern = '^[A-Za-z\.\s]*$'
boolean_vector = df.who.str.contains(pattern)
df_pattern = df.loc[boolean_vector]

#### Pivoting, Melting and Stacking

In [ ]:
# Setting index (can be single level or multi-level) and selecting index
df2 = df.set_index(['age','sex'])
df2 = df.set_index(['age'])
df2 = df2.sort_index()
print(df2.loc[29.0])

In [ ]:
# Pivoting with pivot table
df_pivot = df.pivot_table(index='embark_town', columns = 'sex', values = 'age', 
                          aggfunc = np.mean)

df_pivot = df.pivot_table(index='embark_town', columns = 'sex', 
                          values = ['age','fare'], 
                          aggfunc = {'age':np.mean, 'fare':np.sum})

In [ ]:
# Unstacking - Equivalent to changing a row index into a column index for a multi-index
# Meaning that if you have a Multi-indexed Series, you can convert it into a dataframe
# using Unstack
df2 = df.set_index(['embark_town','sex'])
df_unstack = df2.unstack(level = 'embark_town')

In [ ]:
# Stacking - Equivalent to changing a column index into a row index for a multi-index
df_stack = df_unstack.stack(level = 'sex')

In [ ]:
# Melting dataframes
df_melt = pd.melt(frame = df, id_vars=['survived','sex','embarked'])
# More info on melting & pivoting in Chapter 7-2. Tidying data for analysis and
# Chapter 9-3.Rearranging and reshaping data

<a name="part4"></a>
### (4) Visualization

In [ ]:
# Line plot
df.plot(x='pclass', y='fare')

In [ ]:
# Histogram
df.age.plot('hist')
df.age.plot('hist', bins = 400)

In [ ]:
# Rescaling with log scales
df['age'].plot(kind='hist', rot=70, logx=True, logy=True)
plt.show()

In [ ]:
# Generating probability density function - pdf (General code template)
mu = 200
sigma = 15
x = np.linspace(mu - 3*sigma, mu + 3*sigma)
plt.plot(x, st.norm.pdf(x, mu, sigma))
plt.show()

In [ ]:
# Creating boxplots and setting the y-axis limits
df.boxplot(column='age', by='pclass').set_ylim(0,100)
df.boxplot(column='age', by='pclass', rot=90) # Rotates x axis labels
df.boxplot(column = ['age','sex','pclass']) # Selected columns only

In [ ]:
# Creating scatterplot
df.plot(kind='scatter', x='age', y='fare', rot=70)

In [ ]:
# Creating barplot with x labels (x ticks)
df.plot(kind = 'bar')
df.sort_values.plot(kind = 'bar', stacked = True) # Sort, then show stacked bar plot
df.plot(kind = 'barh') # Horizontal barplot

In [ ]:
# Adjusting x ticks labels
plt.xticks(
   np.arange(len(df.age)),   #Returns evenly spaced values within given interval
   df.index,    #Labeling of xticks with major_category
   rotation='vertical')
plt.show()

In [ ]:
# Plotting with subplots
df.plot(kind = 'bar', subplots = True)
plt.show()

In [ ]:
# Specifying x and y axes and limits
plt.xlabel('Life Expectancy by Country in 1800')
plt.ylabel('Life Expectancy by Country in 1899')

plt.xlim(20, 55)
plt.ylim(20, 55)

<a name="part5"></a>
### (5) Data Analysis and Statistics

In [ ]:
# Analysis with z-score
from scipy.stats import zscore 
fare_zscore = zscore(df.fare)
df['fare_zscore'] = fare_zscore # Assigning the numpy array as a new dataframe column

<a name="part6"></a>
### (6) Miscellaneous

In [ ]:
# Gives numbers 0 to 9
print(list(range(10)))

In [ ]:
# Reveal all columns of the dataframe in the IPython shell
pd.set_option('display.max_columns', 100)