# range of length

In [ ]:
colors = ["red", "green", "blue", "purple"]
for i in range(len(colors)):
    print(colors[i])

red
green
blue
purple

# for-in

In [ ]:
colors = ["red", "green", "blue", "purple"]
for color in colors:
    print(color)

red
green
blue
purple

# use index in the for loop

In [ ]:
presidents = ["Washington", "Adams", "Jefferson", "Madison", "Monroe", "Adams", "Jackson"]
for i in range(len(presidents)):
    print("President {}: {}".format(i + 1, presidents[i]))

President 1: Washington
President 2: Adams
President 3: Jefferson
President 4: Madison
President 5: Monroe
President 6: Adams
President 7: Jackson

# enumerate: loop over a list and retrieve both the index and the value of each item in the list:

In [ ]:
presidents = ["Washington", "Adams", "Jefferson", "Madison", "Monroe", "Adams", "Jackson"]
for num, name in enumerate(presidents, start=1):
    print("President {}: {}".format(num, name))

President 1: Washington
President 2: Adams
President 3: Jefferson
President 4: Madison
President 5: Monroe
President 6: Adams
President 7: Jackson

# enumerate and index

In [ ]:

colors = ["red", "green", "blue", "purple"]
ratios = [0.2, 0.3, 0.1, 0.4]
for i, color in enumerate(colors):
    ratio = ratios[i]
    print("{}% {}".format(ratio * 100, color))

20.0% red
30.0% green
10.0% blue
40.0% purple

In [1]:
a = [2, 10, 3, 11, 10, 3, 2, 1]
for i, x in enumerate(a):
    if x>5:
        a[i] = 5
print(a)

[2, 5, 3, 5, 5, 3, 2, 1]

# zip

In [ ]:
colors = ["red", "green", "blue", "purple"]
ratios = [0.2, 0.3, 0.1, 0.4]
for color, ratio in zip(colors, ratios):
    print("{}% {}".format(ratio * 100, color))

20.0% red
30.0% green
10.0% blue
40.0% purple

In [ ]:
a = [1,2,3,4,5]
b = [5,4,3,2,1]

for x,y in zip(a,b):
    print(f'{x} - {y}')

1 - 5
2 - 4
3 - 3
4 - 2
5 - 1

In [ ]:
a = [1,2,3,4,5]
b = [5,4,3]

print(list(zip(a,b)))

[(1, 5), (2, 4), (3, 3)]

# list comprehension, for loop in a list

In [ ]:
lst = [x*10 for x in range(10)]
print(lst)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

# use for loops with list of list

In [4]:
ev_data = [['vehicle', 'range', 'price'], ['Tesla Model 3 LR', '310', '49900'], ['Hyundai Ioniq EV', '124', '30315'], ['Chevy Bolt', '238', '36620']]

print(ev_data)

[['vehicle', 'range', 'price'], ['Tesla Model 3 LR', '310', '49900'], ['Hyundai Ioniq EV', '124', '30315'], ['Chevy Bolt', '238', '36620']]

In [5]:
for row in ev_data[1:]:         # loop through each row in ev_data starting with row 2 (index 1)
    ev_range = row[1]           # each car's range is found in column 2 (index 1)
    ev_range = int(ev_range)    # convert each range number from a string to an integer
    row[1] = ev_range           # assign range, which is now an integer, back to index 1 in each row

print(ev_data)

[['vehicle', 'range', 'price'], ['Tesla Model 3 LR', 310, '49900'], ['Hyundai Ioniq EV', 124, '30315'], ['Chevy Bolt', 238, '36620']]

In [6]:
total_range = 0                     # create a variable to store the total range number

for row in ev_data[1:]:             # loop through each row in ev_data starting with row 2 (index 1)
    ev_range = row[1]               # each car's range is found in column 2 (index 1)
    total_range += ev_range         # add this number to the number stored in total_range

number_of_cars = len(ev_data[1:])   # calculate the length of our list, minus the header row

print(total_range / number_of_cars) # print the average range

224.0

In [7]:
total_price = 0                     # create a variable to store the total range number

for row in ev_data[1:]:             # loop through each row in ev_data starting with row 2 (index 1)
    price = row[2]                  # each car's price is found in column 3 (index 2)
    price = int(price)              # convert each price number from a string to an integer
    row[2] = price                  # assign price, which is now an integer, back to index 2 in each row
    total_price += price            # add each car's price to total_price

number_of_cars = len(ev_data[1:])   # calculate the length of our list, minus the header row

print(total_price / number_of_cars) # print the average price

38945.0

In [8]:
long_range_car_list = []       # creating a new list to store our long range car data

for row in ev_data[1:]:        # iterate through ev_data, skipping the header row
    ev_range = row[1]          # assign the range number, which is at index 1 in the row, to the range variable
    if ev_range > 200:         # append the whole row to long-range list if range is higher than 200
        long_range_car_list.append(row)

print(long_range_car_list)

[['Tesla Model 3 LR', 310, 49900], ['Chevy Bolt', 238, 36620]]

# break, continue

In [9]:
our_list = ['Lily', 'Brad', 'Fatima', 'Zining']
for name in our_list:
    break
    print(name)

In [10]:
for name in our_list:
    if name == 'Zining':
        break
    print(name)

Lily
Brad
Fatima

In [11]:
long_range_car_list = []    # creating our empty long-range car list again

for row in ev_data[1:]:     # iterate through ev_data as before looking for cars with a range > 200
    ev_range = row[1]
    if ev_range > 200:
        long_range_car_list.append(row)
    if 'Tesla' in row[0]:   # but if 'Tesla' appears in the vehicle column, end the loop
            break

print(long_range_car_list)

[['Tesla Model 3 LR', 310, 49900]]

In [12]:
for name in our_list:
    if name == 'Brad':
        continue
    print(name)

Lily
Fatima
Zining

In [13]:
short_range_car_list = []               # creating our empty short-range car list

for row in ev_data[1:]:                 # iterate through ev_data as before
    ev_range = row[1]
    if ev_range > 200:                  #  if the car has a range of > 200
        continue                        # end the loop here; do not execute the code below, continue to the next row
    short_range_car_list.append(row)    # append the row to our short-range car list


print(short_range_car_list)

[['Hyundai Ioniq EV', 124, 30315]]

# iter, next

In [17]:
a = ['foo', 'bar', 'baz']
itr = iter(a)
print(itr,next(itr),next(itr),next(itr))

<list_iterator object at 0x7fdac04e6490> foo bar baz

# Iterating Through a Dictionary

In [20]:
d = {'foo': 1, 'bar': 2, 'baz': 3}
for k in d:
  print(k)

foo
bar
baz

In [21]:
for k in d:
  print(d[k])

1
2
3

In [22]:
for v in d.values():
  print(v)

1
2
3

In [27]:
d = {'foo': 1, 'bar': 2, 'baz': 3}
d.items()


for i, j in [(1, 2), (3, 4), (5, 6)]:
  print(i, j)

1 2
3 4
5 6

In [28]:
for k, v in d.items():
  print('k =', k, ', v =', v)

k = foo , v = 1
k = bar , v = 2
k = baz , v = 3

# reference webpage
# https://treyhunner.com/2016/04/how-to-loop-with-indexes-in-python/
# https://www.dataquest.io/blog/python-for-loop-tutorial/
# https://realpython.com/python-for-loop/